<div class="profile">
  <img src="./images/profile.jpg" alt="profile">
<div class="profile-intro">
    <h3 class="profile-name">Kyutae Kang</h3>
    <p class="profile-desc">
      Mathematics major with interests in Computer Vision and AI.
    </p>
</div>
<ul class="icon-list">
  <li>
    <span class="icon-wrapper">
      <img src="./images/googlemaps.svg" class="icon" alt="Maps">
    </span>
    <span>Seoul, Korea</span>
  </li>
  <li>
    <span class="icon-wrapper">
      <img src="./images/wikiversity.svg" class="icon" alt="Univ">
    </span>
    <span>Kyung Hee University</span>
  </li>

  <li>
  <a
    href="mailto:raymondkang4837@email.com"
    class="icon-wrapper"
  >
    <img src="./images/gmail.svg" class="icon" alt="Email">
  </a>
  <span>Email</span>
</li>

  <li>
  <a
    href="https://github.com/kyutve"
    class="icon-wrapper"
  >
    <img src="./images/github.svg" class="icon" alt="Github">
  </a>
  <span>Github</span>
  </li>

  <li>
  <a
    href="https://azurei.tistory.com/"
    class="icon-wrapper"
  >
    <img src="./images/tistory.svg" class="icon" alt="Blog">
  </a>
  <span>Blog</span>
  </li>
</ul>
</div>
